# Lock files
poetry.lock
uv.lock

*.pyc

# Packages
*.egg
*.egg-info
dist
build
_build
.cache
*.so

__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache
.codspeed

.DS_Store
.idea/*
.python-version

/test.py
/test_*.*
/wheelhouse

# editor

.vscode
