<div
  class="rounded-b-xl text-[13px] dark:border-white/10 [&_.line]:block [&_.line]:px-4 [&_.line]:py-1 [&_.line]:odd:bg-white/2 [&_.line]:even:bg-white [&_.line]:odd:dark:bg-white/4 [&_.line]:even:dark:bg-white/2"
>
  {{ code|safe }}
</div>
