{% from "__expanse__/_macros.jinja2" import badge %}

<div class="h-auto rounded-[calc(var(--radius-lg)+2px)] bg-blue-400/5 p-0.5 ring ring-slate-950/5 shadow-sm outline-white/15 backdrop-blur-md dark:bg-blue-200/5 dark:ring-blue-300/30">
<div
  class="relative z-50 h-auto rounded-lg bg-white/80 px-2 ring ring-slate-950/5 dark:bg-slate-800/80 dark:ring-blue-200/25"
  data-controller="disclosure"
>
  <div class="flex min-h-10 items-center justify-between">
    <div class="relative flex w-full items-center gap-3">
      {%
        set badge_types = {
            'GET': 'info',
            'HEAD': 'info',
            'OPTIONS': 'info',
            'POST': 'success',
            'PUT': 'info',
            'PATCH': 'info',
            'DELETE': 'error'
        }
      %}
      <div data-action="click->disclosure#toggle">
        {% call badge(badge_types[error.request.method], hover=True) %}
          {{ error.request.method | upper }}
        {% endcall %}
      </div>
      <div class="flex-1 truncate font-mono text-sm text-slate-950 dark:text-slate-100">
        {% with request=error.request %}
          {% include "__expanse__/_error/request_url.jinja2" %}
        {% endwith %}
      </div>
      {% if error.request.route.name %}
        {% call badge(class="font-mono") %}
          {{ error.request.route.name }}
        {% endcall %}
      {% endif %}
      <div class="flex-shrink-0">
        <button
          type="button"
          class="flex h-6 w-6 cursor-pointer items-center justify-center text-slate-500 transition-colors duration-300 group-hover:text-orange-500 group-data-[open=true]:text-orange-500 dark:text-slate-500 group-data-[open=true]:dark:text-orange-500"
          data-action="click->disclosure#toggle"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-3"
            data-disclosure-target="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m7 15 5 5 5-5" />
            <path d="m7 9 5-5 5 5" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div
    data-disclosure-target="panel"
    class="{% if open %}h-auto{% else %}h-0{% endif %} overflow-hidden"
  >
    <div class="px-2 pt-8 pb-0 **:text-xs [&_h2]:text-base">
      {% with headers=error.request.headers %}
        {% include "__expanse__/_error/request_headers.jinja2" %}
      {% endwith %}
    </div>
  </div>
</div>
</div>
