{% macro section(class="") %}
  <section
    class="{{ class }} mx-auto w-full max-w-7xl border-x border-dashed border-slate-200 p-4 sm:p-14 dark:border-white/9"
  >
    {{ caller() }}
  </section>
{% endmacro %}

{% macro separator(class="") %}
  <div class="{{ class }} relative h-0 w-full">
    <div class="absolute inset-0 border-t border-dashed border-slate-200 dark:border-white/9"></div>
    <div class="relative m-auto max-w-7xl">
      <div
        class="absolute -top-1 -left-[calc(0.25rem-0.5px)] rounded-full bg-slate-600 p-0.5 text-white shadow dark:bg-slate-50 dark:text-slate-800"
      >
        <div class="size-1 rounded-full bg-current"></div>
      </div>
      <div
        class="absolute -top-1 -right-[calc(0.25rem-0.5px)] rounded-full bg-slate-600 p-0.5 text-white shadow dark:bg-slate-50 dark:text-slate-800"
      >
        <div class="size-1 rounded-full bg-current"></div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro badge(type="default", class="", hover=false) %}
  {% set base_style = "border inline-flex w-fit shrink-0 items-center justify-center gap-1 font-medium leading-3 transition-colors duration-300 [&_svg]:size-2.5 h-6 min-w-5 rounded-md px-1.5 text-xs/none" %}
  {%
    set color_style = {
      "default": "bg-slate-100 text-slate-800 border-slate-200 dark:bg-slate-800 dark:text-slate-200 dark:border-slate-700",
      "info": "bg-sky-100 text-sky-800 border-sky-200 dark:bg-sky-900 dark:text-sky-200 dark:border-sky-700",
      "success": "bg-lime-100 text-lime-800 border-lime-200 dark:bg-lime-900 dark:text-lime-200 dark:border-lime-700",
      "warning": "bg-amber-200 text-amber-800 border-amber-300 dark:bg-yellow-800 dark:text-yellow-200 dark:border-yellow-600",
      "error": "bg-orange-100 text-orange-800 border-orange-200 dark:bg-orange-900 dark:text-orange-200 dark:border-orange-700",
    }
  %}
  {%
    set hover_style = {
      "default": "cursor-pointer hover:bg-slate-200 dark:hover:bg-slate-700 hover:border-slate-300 dark:hover:border-slate-600",
      "info": "cursor-pointer hover:bg-sky-200 dark:hover:bg-sky-800 hover:border-sky-300 dark:hover:border-sky-600 active:scale-95 transition-all",
      "success": "cursor-pointer hover:bg-lime-200 dark:hover:bg-lime-800 hover:border-lime-300 dark:hover:border-lime-600",
      "warning": "cursor-pointer hover:bg-amber-300 dark:hover:bg-yellow-900 hover:border-amber-400 dark:hover:border-yellow-700 active:scale-95 transition-all",
      "error": "cursor-pointer hover:bg-orange-200 dark:hover:bg-orange-800 hover:border-orange-300 dark:hover:border-orange-600",
    }
  %}

  <span
    class="{{ base_style }} {{ color_style[type] | default(color_style['default']) }} {{ hover_style[type] if hover else "" }}{{ class }}"
  >
    {{ caller() }}
  </span>
{% endmacro %}
