{% from "__expanse__/_macros.jinja2" import section, separator %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="robots" content="noindex, nofollow" />

    <title>{{ error.name }}: {{ error.message }}</title>

    <style>
      {{ asset_content("app.css") }}
    </style>
  </head>
  <body
    class="overflow-x-hidden bg-slate-50 font-sans antialiased dark:bg-slate-900 dark:text-white"
  >
    <div class="min-h-dvh">
      {% include "__expanse__/_partials/dark_mode.jinja2" %}

      {% call section(class="px-6 py-0 sm:py-0") %}
        {% with error=error %}
          {% include "__expanse__/_error/topbar.jinja2" %}
        {% endwith %}
      {% endcall %}

      {{ separator() }}

      {% call section(class="flex flex-col gap-8 py-0 sm:py-0") %}
        {% include "__expanse__/_error/header.jinja2" %}
      {% endcall %}

      <div class="relative">
        {{ separator(class="absolute top-[calc(var(--spacing)*5.5)]") }}
        {% call section(class="flex flex-col gap-8 py-0 sm:py-0") %}
          {% include "__expanse__/_error/request.jinja2" %}
        {% endcall %}
      </div>

      {% call section(class="flex flex-col gap-8 pt-14") %}
        {% with error=error %}
          {% include "__expanse__/_error/trace.jinja2" %}
        {% endwith %}
      {% endcall %}

      {% if error.request.route %}
        {{ separator() }}

        {% call section(class="flex flex-col gap-12") %}
          {% with route=error.request.route %}
            {% include "__expanse__/_error/routing.jinja2" %}
          {% endwith %}
        {% endcall %}
      {% endif %}

      {{ separator() }}

      {% call section(class="pb-0") %}
        {% with route=error.request.route %}
          {% include "__expanse__/_error/footer.jinja2" %}
        {% endwith %}
      {% endcall %}
    </div>

    <script>
      {{ asset_content("app.js") }}
    </script>
  </body>
</html>
